<li [ngClass]="{'list-group-item' :true, 'list-group-item-success': appareilStatus==='allumé', 'list-group-item-danger': appareilStatus==='éteint' }">
    <div class="container">
        <div class="column">
            <div class="col-sm-4" style="width: 20px;height: 20px; background-color: red; margin-right: 2%;" *ngIf="appareilStatus ==='éteint' "></div>
            <div><h4 [ngStyle]="{color : getColor()}">Appareil : {{ appareilName }} -- Status : {{ appareilStatus }}</h4>
                <div class="row align-items-center"><input type="text" class="form-control" [(ngModel)]="appareilName"></div>
            </div>
        </div>
    </div>
</li>